*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    background-color: #212529;
    opacity: 0.99;
}

.home{
    margin-top: 50%;
    background-color: #f3f3f3;
    padding: 3% 0 3% 0;
    margin: 5px;
}

.home1{
    padding-top: 5%;
}

@media only screen and (max-width:1200px)
{
    .home1{
        padding-top: 9%;
    }
}

@media only screen and (max-width:800px)
{
    .home1{
        padding-top: 13%;
    }
}


.container .col-lg-7{
    display: flex;
    float: left;
}

.container .col-lg-5{
    display: flex;
    float: right;
}

.btn .btn-outline-light{
    color: #fff;
}


.card .about{
    background-color: #212529;
}

.container1{
    width: 100%;
    background-color: rgb(211, 207, 207);
    height: 18px;
    border-radius: 4px;
}

.skills{
    text-align: right;
    padding-right: 20px;
    color: white;
    font-size: 12px;
    font-weight:lighter;
    letter-spacing: 2px;
    font-family: sans-serif;
}

.html{
    width: 75%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.js{
    width: 70%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.bootstrap{
    width: 78%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.react{
    width: 60%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.iot{
    width: 65%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.cpp{
    width: 83%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.c{
    width: 75%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.java{
    width: 80%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.python{
    width: 75%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.php{
    width: 70%;
    background-color: #0D6EFD;
    height: 18px;
    border-radius: 4px;
}

.my_form{
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.container2{
    padding: 1em;
    margin-right: 1.5rem;
    margin-left: 1.5rem;
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, 22em);
    justify-content: center;
    grid-gap: 2em;
    grid-auto-rows: minmax(31em, auto);
}

.container2 .items2{
    transition: transform 0.3s;
    border-radius: 15px;
}

.container2 .items2:hover{
    transform: scale(1.08);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.container2 .items2 .image1{
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url("Images/graduate.jpg");
    background-size: cover;
}

.container2 .items2 .image2{
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url("Images/science.jpg");
    background-size: cover;
}

.container2 .items2 .image3{
    height: 50%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-image: url("Images/secondary.jpg");
    background-size: cover;
}

.container2 .items2 .text{
    padding: 1rem;
}

.container2 .items2 .text h5{
    color:rgba(0, 0, 0, 0.5);
}

.container2 > div{
    background-color: silver;
}

.container2 > div:nth-child(odd){
    background-color: #212529;
}

#odd h3, #odd p{
    color: white;
}

#odd h5{
    color:silver;

}

.footer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: #212529;
    color: #fff;
}

.footer h2{
    color: #ffff;
}

.footeritems1{
    padding: 3em;
    width: 40%;
}

.footeritems1 p{
    padding-top: 10px;
}

.footeritems2{
    padding: 3em;
    width: 30%;
}

.footeritems3{
    padding: 3em;
    width: 30%;
}

@media only screen and (max-width: 800px)
{
    .footer{
        flex-direction: column;
        justify-content: center;
    }

    .footeritems1{
        padding: 3em;
        width: 80%;
    }
    
    .footeritems1 p{
        padding-top: 10px;
    }
    
    .footeritems2{
        padding: 3em;
        width: 80%;
    }
    
    .footeritems3{
        padding: 3em;
        width: 80%;
    }
}

.footeritems3 ul{
    list-style: none;
    padding: 10px;
}

.footeritems3 ul li a{
    text-decoration: none;
    color: #fff;
}

.footeritems3 ul li a:hover{
    color: #ed2939;
}

.sci{
    margin-top: 20px;
    display: flex;
    padding-left: 10px;
}

.sci li{
    list-style: none;
}

.sci li a{
    display: inline-block;
    width: 40px;
    height: 40px;
    background: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    text-decoration: none;
    border-radius: 5px;

}

.sci li a:hover{
    background: #ed2939;
}

.sci li a .fas,
.sci li a .fab,
.sci li a .fa{
    color: #fff;
    font-size: 20px;
}

.copyright{
    text-align: center;
    padding: 1em;
    padding-top: 0;
    background-color: #212529;
    color: #fff;
}
